.home-container{
    display: flex;
}

.home-main{
    background: #ffffffe5;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-around;
}

.dashboard{
    width: 95%;
    height: 80vh;
    background: white;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 50px 0.5px rgb(228, 228, 228);
}

.home-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.home-btn button{
    width: 100px;
    padding: 0.8rem;
    border-radius: 5px;
    align-self: center;
    background: #0f1036;
    color: white;
    border: none;
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

.home-user{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 0 1rem;
}

.home-user img{
    width: 150px;
    border-radius: 50%;
}

.home-cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home-card{
    background: #ffffff4d;
    color: white;
    border-radius: 10px;
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 0 1rem ;
}


.counts{
    margin-top: -10px;
    display: flex;
    justify-content: space-around;
}

.count{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.count p{
    font-size: 12px;
}

.count h4{
    margin-top: -2px;
    padding-left: 0.2rem;
    font-size: 20px;
}

.total{
    border-left: 3px solid blue;
}

.complete{
    border-left: 3px solid green;
}

.progress{
    border-left: 3px solid yellow;
}

.overdue{
    border-left: 3px solid red;
}


.activity{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ffffff4d;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 5px;
}

.progcheck{
    width: 20px;
    height: 20px;
    background: rgb(255, 180, 95);
    border-radius: 4px;
}

.completecheck{
    width: 20px;
    height: 20px;
    background: rgba(173, 253, 82, 0.918);
    border-radius: 4px;
}